<h1>New note from <%= @note.author.username %>!</h1>
<p>Dear <%= @follower.username %>,</p>
<p>
  You can read new note
  <%= link_to @note.title, note_url(@note, subdomain: @note.author.username) %>
  right now!
</p>
<p>
  You have received this mail since you are subscribed
  to <%= @note.author.username %>'s updates.
</p>
